.banner-bg {
    width: 100%;
    height:500px;
    object-fit:cover;
    object-position: 75% 25%;
}

.banner-title {
    display: flex;
    color: red;
    font-size: 7vw;
    font-family: cursive;
}

.banner-subtitle {
    display: flex;
    display: block;
    color: red;
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif
}

.banner-title-container {
    display: flex;
    display: block;
    top: 15%;
    left: 50%;
    position: absolute;
}


.center-container {
    display:flex;
    justify-content: center;
    padding:20px;
}

.line-spacing {
    padding-bottom: 10px;
}
